@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Race Track</h1>
    <p>Contactenos <a href="https://www.linkedin.com/in/jorge-daniel-olivera-12264a195/">Racer Track</a>.</p>
</div>
