@* @model Proyect_RaceTrack.ViewModels.CocheraViewModels.CocheraEditViewModel; *@
@model Proyect_RaceTrack.Models.Cochera

@{
    ViewData["Title"] = "Edit";
    var pistaList = ViewData["Pistas"];
}

<h1>Edit</h1>

<h4>Cochera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CocheraId" />
            <div class="form-group">
                <label asp-for="CocheraNombre" class="control-label"></label>
                <input asp-for="CocheraNombre" class="form-control" />
                <span asp-validation-for="CocheraNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CocheraNumero" class="control-label"></label>
                <input asp-for="CocheraNumero" class="form-control" />
                <span asp-validation-for="CocheraNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CocheraSector" class="control-label"></label>
                <select asp-for="CocheraSector" class="form-control">
                    <option value="0">Norte</option>
                    <option value="1">Sur</option>
                    <option value="2">Este</option>
                    <option value="3">Oeste</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CocheraAptoMantenimiento" /> @Html.DisplayNameFor(model => model.CocheraAptoMantenimiento)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CocheraOficinas" /> @Html.DisplayNameFor(model => model.CocheraOficinas)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
