@using Proyect_RaceTrack.ViewModels.PistaViewModels;
@model PistaEditViewModel;
@* @model Proyect_RaceTrack.Models.Pista; *@

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Pista</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PistaId" />
            <div class="form-group">
                <label asp-for="PistaNombre" class="control-label"></label>
                <input asp-for="PistaNombre" class="form-control" />
                <span asp-validation-for="PistaNombre" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="PistaCodigo" class="control-label"></label>
                <input asp-for="PistaCodigo" class="form-control" />
                <span asp-validation-for="PistaCodigo" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="PistaMaterial" class="control-label"></label>
                <select asp-for="PistaMaterial" class="form-control">
                    <option value="0">Cesped</option>
                    <option value="1">Grava</option>
                    <option value="2">Asfalto</option>
                    <option value="3">Hormigon</option>
                </select>
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PistaIluminacion" /> @Html.DisplayNameFor(model => model.PistaIluminacion)
                </label>
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PistaAprovisionamiento" /> @Html.DisplayNameFor(model => model.PistaAprovisionamiento)
                </label>
            </div>
            <br>
            <select class="form-select" aria-label="Default select example" multiple asp-for="CocheraIds" id="Cocheras"
                asp-items="ViewBag.Cocheras" placeholder="select members" class="form-control w-50 dropdown">
            </select>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
